<footer class="bg-dark text-white p-5 footer_fixed">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h3>Enlaces</h3>
                <ul>
                    <li><a th:href="@{/}">Inicio</a></li>
                    <li><a th:href="@{/#sobreNosotros}">Acerca de</a></li>
                    
                </ul>
            </div>
            <div class="col-lg-6">
                <h3>Contacto</h3>
                <p>Correo electrónico: <span id="mailFooter">tukincho@tukicho.com</span> </p>
                <p>Teléfono: <span id="numeroFooter">123-456-7890</span> </p>
            </div>
           
        </div>
    </div>
</footer>