/* Reset de estilos */

:root{

    /* PALETA */
    --color1: #61A3BA;
    --color2: #A2C579;
    --color3: #A2C579;
    --color4: #e2b9b3;
    --color5: #e8dbcb;
    --color6: #ffffff;
    --color7: #000000;
    --color8: rgb(12, 78, 110);
    --color9:rgb(204, 153, 13);
  
  
  
  /* FONDOS */
  --fondoCardDerecho: var(--color1);
  --fondoCardCentral: var(--color2);
  --fondoCardIzquierdo: var(--color6);
  
  /* TEXTOS */
  --textoCardDerecho: var(--color6);
  --textoCardCentral:  var(--color8);
  --textoCardIzquierdo: var(--color1);
  
  
  /* SOMBRA */
  --sombra: var(--color1);
  
  /* BOTON */
  --fondoBoton: var(--color1);
  --textoBoton: var(--color1);
  --bordeBoton: var(--color1);
  
  
  }

* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;


    transition: 500ms ease-in-out;

    /* 
font-family: 'Abril Fatface', serif;
font-family: 'Crimson Text', serif;
font-family: 'EB Garamond', serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Raleway', sans-serif; 
*/
}




/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
  
}

header {
    z-index: 1000;
     background-color: #00000000;
    color: #fff;
    padding: 1rem;
    text-align: center; 
    position: fixed;
    width: 100%;

}

#logo{
    height: 10px;
    width: auto;
}
.navbar{
   
    background-color: rgba(0, 0, 0, 0.534)!important;
     /* background-color: rgba(0, 0, 0, 0)!important; */
    height: 100px;
    
    backdrop-filter: blur(10px);
    
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

#intro {
    background-image: url('/imagenes/recortada1.jpg'); 
    background-size: cover;
    color: #fff;
    text-align: center;
    
    height: 50vh;
    transition: 300ms ease-in-out;
    
}

.capaTransparente{
    /* background-color: rgba(24, 186, 255, 0.6); */
    background: -webkit-linear-gradient(left, rgba(0, 89, 133, 0.521), rgba(19, 61, 0, 0.705));
    width: 100%;
    height: 100%;

    text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8),-5px -5px 10px  rgba(0, 0, 0, 0.8);
    
  }

#intro h2 {
    font-family: 'Abril Fatface', serif;
    font-size: 3.5rem;
    margin-bottom: 20px;
    padding-top: 100px;
    
}

#intro p {
    font-family: 'Crimson Text', serif;
    font-size: 1.2rem;
   
   
    
}

.buscador{
    
    position: absolute;
      top: 50%; /* Centra el div a la mitad de la altura del contenedor principal */
      
      left: 50%; /* Centra el div a la mitad del ancho del contenedor principal */
      transform: translate(-50%, -50%); /* Ajusta la posición para centrar completamente el div */
      border-radius: 20px;
      background-color: white;
   box-shadow: 10px 10px 80px rgba(0, 0, 0, 0.418);
}

.buscador input, .buscador select{

    background: rgb(88, 149, 173);
    border-radius: 10px!important;
    border-width: 0px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
    color: white;

}
.buscador label{
    /* font-family: 'Abril Fatface', serif;
     font-family: 'Crimson Text', serif;
    font-family: 'EB Garamond', serif; 
     font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif; 
     font-family: 'Oxygen', sans-serif; 
     font-family: 'Playfair Display', serif;  */
     font-family: 'PT Sans Narrow', sans-serif; 
     /* font-family: 'Raleway', sans-serif;   */

     font-size: larger;
    color: #777777;
    font-weight: 400;
    color: var(--color9);
    
}

.buscador:hover{
    scale: 1.05;
    transition: ease-in-out 300ms;
    transition: 500ms ease-in-out;
    transform: translate(-47.5%, -40%);
    box-shadow: 10px 10px 100px rgba(71, 166, 255, 0.582);
    
    
}

.buscador .boton{
    width: 75%;
    margin-top: 38px;
    background-color: #333!important;
    border: solid 2px var(--color9);
    transition: ease-in-out 300ms;
}

.buscador .boton:hover{
    scale: 1.05;
    color: #ffffff;
    background-color: var(--color1)!important;
    border: solid 2px black;
    box-shadow: 10px 10px 100px rgba(0, 0, 0, 0.582);
}

/* #intro h2 {
    font-family: 'Abril Fatface', serif;
    font-size: 3.5rem;
    margin-bottom: 20px;
    padding-top: 100px;
    
} */

#mejores-clasificados{
    padding: 50px;
    margin-top: 200px;
    background-color: #f4f4f4;
}

#sobreNosotros{
    background: -webkit-linear-gradient(left, rgba(0, 168, 255, 0.4), rgba(100, 241, 35, 0.4));
    height: 700px;
    position: relative;
}


#sobreNosotrosInterno{
    background: rgba(37, 37, 37, 0.877);
    height: 500px;
    
    width: 60%;
    position: absolute;
    top: 50%; 
      left: 50%; 
      transform: translate(-20%, -50%);

    
}

#sobreNosotrosInternoColumna{
    
    height: 500px;
    
    width: 60%;
    position: absolute;
    top: 50%; 
      left: 50%; 
      transform: translate(-20%, -50%);
      padding: 50px;
      text-align: justify;

   
}

#sobreNosotrosInternoColumna h2{
    padding-bottom: 20px;
    color: var(--color9);
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 40pt;
    



        /* 
font-family: 'Abril Fatface', serif;
font-family: 'Crimson Text', serif;
font-family: 'EB Garamond', serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Raleway', sans-serif; 
*/
}
#sobreNosotrosInternoColumna p{
   
    
    color: white;
    font-family: 'Crimson Text', serif;
    font-size: 18pt;
    font-weight: 100;
    font-style: italic;




}

/* 
================================================================================================
===================================    SLIDES   ================================================
================================================================================================
 */

#seccionSlides{
    margin-top: 200px;
    margin-bottom: 00px;
    position: relative;
    height: 1000px;
    
}

#mejoresClasificados{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    color: #61A3BA;

    padding: 15px;
    border-bottom: 5px solid var(--color9); 
    margin-bottom: 300px !important;
}



.containerSlides{
    margin-top: 0px;
   
    position: absolute;
    left:40%;
    top:50%;
    transform: translate(-50%,-50%);
    width:70vw;
    height:40vw;
    padding:50px;
    background-color: #f5f5f5;
    box-shadow: 0 30px 100px #000000de;
    
}
#slide{
    width:max-content;
    margin-top:50px;
}
.item{
    width:200px;
    height:300px;
    background-position: 50% 50%;
    display: inline-block;
    transition: 1s;
    background-size: cover;
    position: absolute;
    z-index: 1;
    top:50%;
    transform: translate(0,-50%);
    border-radius: 20px;
    box-shadow:  0 30px 50px #505050;
}
.item:nth-child(1),
.item:nth-child(2){
    left:0;
    top:0;
    transform: translate(0,0);
    border-radius: 0;
    width:100%;
    height:100%;
    box-shadow: none;
}
.item:nth-child(3){
    left:58%;
}
.item:nth-child(4){
    left:calc(58% + 220px);
}
.item:nth-child(5){
    left:calc(58% + 440px);
}
.item:nth-child(n+6){
    left:calc(58% + 660px);
    opacity: 0;
}
.item .content{
    position: absolute;
    top:50%;
    left:100px;
    width:300px;
    text-align: left;
    padding:10px;
    color:#ffffff;
    transform: translate(0,-50%);
    display: none;
    font-family: system-ui;
    text-shadow: 5px 5px 25px rgb(0, 0, 0),-5px -5px 25px rgb(0, 0, 0),-5px 5px 25px rgb(0, 0, 0),5px -5px 25px rgb(0, 0, 0);
    text-shadow: 5px 5px 15px rgb(0, 0, 0),-5px -5px 25px rgb(0, 0, 0),-5px 5px 25px rgb(0, 0, 0),5px -5px 25px rgb(0, 0, 0);
    text-shadow: 5px 5px 12px rgb(0, 0, 0),-5px -5px 12px rgb(0, 0, 0),-5px 5px 12px rgb(0, 0, 0),5px -5px 12px rgb(0, 0, 0);
    animation:showcontent2 3s ease-in-out 1 forwards
}
.item:nth-child(2) .content{
    display: block;
    z-index: 11111;
}
.item .name{
    font-size: 40px;
    font-weight: bold;
    opacity: 0;
    animation:showcontent 1s ease-in-out 1 forwards
}
.item .des{
    margin:20px 0;
    opacity: 0;
    animation:showcontent 2s ease-in-out 0.3s 1 forwards
}
.item button{
    padding:10px 20px;
    border:none;
    opacity: 0;
    animation:showcontent 1s ease-in-out 0.6s 1 forwards
}
@keyframes showcontent{
    from{
        opacity: 0;
        transform: translate(0,100px);
        filter:blur(33px);
    }to{
        opacity: 1;
        transform: translate(0,0);
        filter:blur(0);
        backdrop-filter: blur(1px);
        border: #333;
    }
}

@keyframes showcontent2{
    from{
        backdrop-filter: blur(0px);
        
    }to{
       
        backdrop-filter: blur(14px);
        /* border-bottom: 1px solid gray;
        border-top: 1px solid gray;
        border-left: 1px solid gray;
        border-right: 1px solid gray; */
        box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.582)
       
    }
}

.buttons{
    position: absolute;
    bottom:30px;
    z-index: 222222;
    text-align: center;
    width:100%;
}
.buttons button{
    width:50px;
    height:50px;
    border-radius: 50%;
    border:1px solid #555;
    transition: 0.5s;
}.buttons button:hover{
    background-color: #bac383;
}
  


/* 
================================================================================================
===================================    OTROS DESTACADOS   ======================================
================================================================================================
 */

#otros-destacados{
    background-color: #333;
    padding: 100px;
}

 #otrosDestacados{
    font-family: 'Playfair Display', serif;
    font-size: 50px;
    color: #61A3BA;

    padding: 15px;
    border-bottom: 5px solid var(--color9); 
    
}

#otros-destacados .card{

    background-color: #61A3BA;
    border: 0px;
    box-shadow: 0px 0px 44px 10px rgba(0, 0, 0, 0.486)!important;
    border: solid 4px var(--color9);
    min-height: 500px;
}

#otros-destacados .card img{

    height: 250px;

    
}


#otros-destacados .card-body{

    height: 250px;
    box-shadow: 0px 0px 88px 20px rgba(0, 0, 0, 0.486)!important;
}

#otros-destacados .card-title{

    color:#333;
    font-family: 'Lato', sans-serif;
    border-bottom: solid 1px white;
    padding-bottom: 7px;
}


#otros-destacados .card-text{

    font-family: 'Crimson Text', serif;
}
#otros-destacados .card:hover{

    scale: 1.05;

}



/* estrellas calificacion*/
.rating {
    display: flex;
    justify-content: space-between;
}


.star {
    font-size: 32px;
    color: #ddd;
    transition: color 0.3s;
    cursor: pointer;
}

.star.checked {
    color: gold;
}



.mensajeError{
    width: 40%!important;
    
}

#mensajeErrorError{
    width: 40%!important;
    background-color: #000000;
}
.mensajeExito, .mensajeError{
    
    width: 600px!important;
    position: relative;
    top: -300px;
    left: 40%;
}
/* Estilos del pie de página */
footer {
    background-color: #333;
    
    color: #fff;
    text-align: center;
    padding: 1rem;
    /* position: fixed; */
    bottom: 0;
    width: 100%;
}


@media (max-width: 800px) {
    #sobreNosotrosInterno {
      width: 100%; 
      top: 50%; 
      left: 0%; 
      transform: translate(0%, -50%);
    }
  }