.navbar{
    --color1: #61A3BA;
    --color2: #FFFFDD;
    --color3: #D2DE32;
    --color4: #A2C579;
    background-color: rgba(0, 0, 0, 0.534)!important;
     /* background-color: rgba(0, 0, 0, 0)!important; */
    height: 100px;
    transition: 500ms ease-in-out;
    
    backdrop-filter: blur(10px);
    /* position: fixed;
    top: 0px;
    width: 100%; */
    font-size: 14pt;
    
    font-family: 'Raleway', sans-serif; 

    /* 
font-family: 'Abril Fatface', serif;
font-family: 'Crimson Text', serif;
font-family: 'EB Garamond', serif;
font-family: 'Lato', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Raleway', sans-serif; 
*/
}

/* a,li{
height: 100px;

} */

nav ul li {
    display: inline;
    margin-right: 20px;
    transition: 500ms ease-in-out;
}

li:hover{
    background-color: rgba(0, 0, 0, 0.548);
    border-radius: 10px;
    border-bottom: solid 1px var(--color3);

}

#logo{
    height: 20px;
    width: auto;
}

.dropdown-menu {
    /* background-color: #61A3BA; */
    /* background-image: radial-gradient(at center, var(--color1),black); */
    background-color: rgba(0, 0, 0, 0.774);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(100px);
    color: white;
    padding: 20px;
    
    transform: translate3d(15px,25px,0px);
    border-radius: 0px;
    border: 0px;
    transition: 500ms ease-in-out;
}



.dropdown-menu a {
    color: rgb(255, 255, 255);
    
    /* Cambia el color del texto de los elementos del menú de cuenta*/

}

.dropdown-menu a:hover {
    /* background-color: var(--color1); */
    background-color: #61A3BA;
    color: black;
}