<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="/fragments/head :: head"></head>

<body>
    <nav th:replace="/fragments/navbar :: nav"></nav>

    <div class="container mt-5">
        <h2>Propiedades Registradas</h2>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <!-- Iterar sobre las propiedades y mostrarlas en grupos de tres por fila -->
            <div th:each="propiedad : ${propiedades}" class="col">
                <div class="card">
                    <!-- Mostrar la primera imagen (si existe) como miniatura -->
                     <!-- Convertir el array de bytes a una URL de datos (data URL) -->
                    <!--img th:src="'data:image/png;base64,' + ${#strings.getBase64(propiedad.imagen[0].contenido)}"/-->
                    
                    <div class="card-body">
                        <h5 class="card-title" th:text="${propiedad.descripcionDelInmueble}"></h5>
                        <p class="card-text"><strong>Precio por Noche:</strong> $<span
                                th:text="${propiedad.precioPorNoche}"></span></p>
                        <p class="card-text"><strong>Dirección:</strong> <span th:text="${propiedad.direccion}"></span>
                        </p>
                        <!-- Agrega más detalles según tus necesidades -->
                        <a th:href="@{/propiedades/detalle/{id}(id=${propiedad.id})}" class="btn btn-primary">Ver
                            Detalles</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>
