<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head th:replace="/fragments/head :: head"></head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!--th:text="Registro Inmueble"-->
    <body>
        <nav th:replace="/fragments/navbar :: nav"></nav>

        <div class="d-flex justify-content-center row g-5 mx-3 mb-4  bg-light" id="formulario-inmueble">

            <h2>Registro de Inmueble</h2>

            <!--FORMULARIO REGISTRO INMUEBLE -->

            <form class="mt-4" th:action="@{/propiedad/registro}" method="post" enctype="multipart/form-data">
                <!-- Nombre del Inmueble -->
                <div class="form-group">
                    <label for="nombre">Nombre del Inmueble</label>
                    <input type="text" class="form-control" id="nombre" name="nombre" required>
                </div>

                <!-- Descripción del Inmueble -->
                <div class="form-group">
                    <label for="descripcionDelInmueble">Descripción del Inmueble</label>
                    <textarea class="form-control" id="descripcionDelInmueble" name="descripcion" rows="3"
                              required></textarea>
                </div>

                <!-- Precio por Noche -->
                <div class="form-group">
                    <label for="precioPorNoche">Precio por Noche</label>
                    <input type="number" class="form-control" id="precioPorNoche" name="precio" required>
                </div>

                <!-- Otros Detalles del Inmueble -->
                <div class="form-group">
                    <label for="otrosDetallesDelInmueble">Otros Detalles del Inmueble</label>
                    <textarea class="form-control" id="otrosDetallesDelInmueble" name="otrosDetalles"
                              rows="3"></textarea>
                </div>

                <!-- Dirección -->
                <div class="form-group">
                    <label for="direccion">Dirección</label>
                    <input type="text" class="form-control" id="direccion" name="direccion" required>
                </div>

                <!-- Provincia -->
                <div class="form-group">
                    <label for="provincia">Provincia</label>
                    <select class="form-control" id="provincia" name="provincia" required>
                        <option th:each="p : ${provincias}" th:value="${p}" th:text="${p}">Provincias</option>
                        <!-- Agrega las opciones de otras provincias según tus necesidades -->
                    </select>
                </div>

                <!-- Activa -->
                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="activa" name="activa" checked>
                    <label class="form-check-label" for="activa">Activa</label>
                </div>
                <!-- Miniaturas -->
                <div id="miniaturas-container"></div>

                <!--input type="file" id="imagenes" multiple style="display: none;"-->
                <input type="file" class="form-control-file" id="imagenes" name="imagenes[]" multiple="multiple" accept="image/*" style="display:none;" />
                <button type="button" id="agregar-boton" onclick="document.getElementById('imagenes').click()">
                    <i class="fas fa-image"></i> <!-- Ícono de Fotografía -->
                    <span>+</span>
                </button>


                <!-- Cargar Imágenes -->
                <div class="form-group">
                    <label for="imagenes">Cargar Imágenes</label>
                    <!--input type="file" class="form-control-file" id="imagenes" name="imagenes[]" multiple accept="image/*"-->
                </div>

                <button class="btn btn-primary" type="submit">Registrar Inmueble</button>
            </form>
        </div>

        <!--script>
            function agregarImagen() {
                var input = document.getElementById('imagenes');
                var miniaturasContainer = document.getElementById('miniaturas-container');
                var miniaturaDiv;
                 var files = [].concat(input.files); 

                for (var i = 0; i < input.files.length; i++) {
                    var file = input.files[i];

                    miniaturaDiv = document.createElement('div');
                    miniaturaDiv.classList.add('miniatura');


                    var img = document.createElement('img');
                    img.src = URL.createObjectURL(file);

                    var eliminarIcono = document.createElement('span');
                    eliminarIcono.classList.add('eliminar-icono');
                    eliminarIcono.innerHTML = '❌';
                    eliminarIcono.onclick = function (div) {
                        return function () {
                            miniaturasContainer.removeChild(div);
                        };
                    }(miniaturaDiv);


                    miniaturaDiv.appendChild(img);
                    miniaturaDiv.appendChild(eliminarIcono);

                    miniaturasContainer.appendChild(miniaturaDiv);
                }

                input.value = ''; // Limpiar el valor del input para permitir la selección de las mismas imágenes nuevamente
            }

            // Manejar cambios en el input de tipo file
            document.getElementById('imagenes').addEventListener('change', agregarImagen);
        </script-->
        
        <script type="text/javascript">
            const miniaturasContainer = document.getElementById('miniaturas-container');
            $(document).ready(function () {

            // Al seleccionar una imagen, se muestra una miniatura en el formulario
            $("#imagenes").on("change", function () {
                var input = $(this);

                var files = input[0].files;

                for (var i = 0; i < files.length; i++) {
                    var file = files[i];

                    // Creamos una miniatura de la imagen
                    var miniatura = document.createElement('div');
                    miniatura.classList.add('miniatura');

                    var img = document.createElement("img");
                    img.src = URL.createObjectURL(file);

                    var eliminarIcono = document.createElement('span');
                    eliminarIcono.classList.add('eliminar-icono');
                    eliminarIcono.innerHTML = '❌';
                    eliminarIcono.onclick = function (div) {
                        return function () {
                            miniaturasContainer.removeChild(div);
                            //files.splice(i, 1); // Eliminamos el archivo del arreglo
                            files.removeChild(files[i]);
                            
                        };
                        
                    }(miniatura);

                    miniatura.appendChild(img);
                    miniatura.appendChild(eliminarIcono);

                    miniaturasContainer.appendChild(miniatura);
                }

                input.value = ''; // Limpiar el valor del input para permitir la selección de las mismas imágenes nuevamente
            });
        //             // Añadimos la miniatura al formulario
        //             var thumbnails = $("#thumbnails");
        //             thumbnails.append(image);
        //         }
        //     });
        });
            </script>
    </body>

</html>