<!DOCTYPE html>
<!-- <html lang="en"> -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- <html lang="en" xmlns:th="http://www.thymeleaf.org"> -->

<head th:replace="/fragments/head :: head"></head>

<body>
<div class="contenedor">
    <header>

        <!-- ================================================================================= -->
        <!-- ========================   NAVBAR   ======================================= -->
        <!-- ================================================================================= -->

        <nav th:replace="/fragments/navbar :: nav"></nav>




    </header>






    <!-------------------------- carrussel ------------------------>

    <div id="carouselExampleIndicators" class=" carousel slide ">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner" >
            <!--                 <div class="carousel-item active ">
                <div class="d-flex justify-content-center">
                    <img src="/imagenes/1.jpg" class="c" alt="...">

                </div>

            </div>
            <div class="carousel-item ">
                <div class="d-flex justify-content-center">
                    <img src="/imagenes/2.jpg" class="c" alt="...">

                </div>
            </div>
            <div class="carousel-item ">
                <div class="d-flex justify-content-center">
                    <img src="/imagenes/3.jpg" class="c" alt="...">

                </div>
            </div> -->

            <!-- carrusel con thymeleaf (?) -->
            <div class="carousel-item active" th:each="imagen : ${inmueble.getImagen()}">

                <div class="d-flex justify-content-center" th:if="${inmueble.getImagen()!=null}">
                    <img th:src="'data:' + ${imagen.getMime()} + ';base64,' + ${imagen.generateBase64Image()}"
                         class="c" />
                </div>

                <div class="d-flex justify-content-center" th:unless="${inmueble.getImagen != null and inmueble.getImagen().size()>0}">
                    <img th:src="@{/imagenes/logo.png}" class="c" />
                </div>
            </div>





            <!-- ------------------------------------------------------- -->

            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>

    <!------------------------------------------------------------------------------------>
    <!---------------------------- formulario de reserva --------------------------------->
    <!------------------------------------------------------------------------------------>

    <!-- recibo el precio por noche del inmueble-->
    <input hidden th:value="${inmueble.precioPorNoche}" id="valorRecibidoPrecioPorNoche">

    <div class="contenedor-formulario">

        <div>
            <h2>Reserva inmueble X</h2>
        </div>
        <div class="contenedor-formulario-interno">
            <form class="formulario-reserva" th:action="@{/reserva/reservado}" method="POST">

                <!-- estos inputs me dan sospecha...no se si se puede mandar objetos enteros asi como asi-->

                <!------------------------------------ recibo la sesion del usuario-------------------------------->
                <input hidden th:value="${session.usuariosession.id}" name="usuarioId">
                <!-- <input type="hidden" th:object="${session.getAttribute('usuariosession')}" name="usuario" /> -->

                <!-- recibo el inmueble como objeto-->
                <input hidden th:value="${inmueble.id}" name="inmuebleId">

                <div class="formulario-item">
                    <label for="fechaInicioReserva-id">Fecha de ingreso</label>
                    <input type="date" class="form-control" min="2023-11-20" name="fechaInicioReserva" id="fechaInicioReserva-id"
                           onchange="calcularPrecioSinServicios()" th:value="${fechaInicioReserva}">
                </div>
                <div class="formulario-item">
                    <label for="fechaFinReserva-id">Fecha de salida</label>
                    <input type="date" class="form-control" min="2023-11-21" name="fechaFinReserva" id="fechaFinReserva-id"
                           onchange="calcularPrecioSinServicios()" th:value="${fechaFinReserva}">
                </div>


                <!-- escribo el costo base-->
                <p id="costoReservaSinServiciosExtra"><strong>Precio base: </strong> (Ingrese fechas de entrada y
                    salida)</p>


                <!-- <div class="formulario-item">
                    <label for="mensaje-id">Mensaje al propietario (opcional)</label><br>
                    <textarea name="mensaje" id="mensaje-id" cols="30" rows="10" th:value="${mensaje}"></textarea>
                </div> -->

                <!------------------------------------------------------------------------------------>
                <!---------------------------- servicios y prestaciones --------------------------------->
                <!------------------------------------------------------------------------------------>

                <div class="contenedor-servicios">
                    <div class="div-servicios-incluidos">
                        <h4>Servicios incluidos</h4>
                        <ul id="lista-servicios-incluidos">
                            <li>Pileta</li>
                            <li>Baño</li>
                            <li>Ducha</li>
                            <li>Agua potable</li>
                        </ul>
                    </div>
                    <div class="div-servicios-pagos">
                        <h4>Servicios opcionales</h4>
                        <div class="desplegable">
                            <button class="boton-desplegar" onclick="desplegarServicios()">Servicios
                                pagos</button>
                            <div class="contenido-desplegable" id="contenidoDesplegable">
                                <label><input type="checkbox" id="opcion1"> Opción 1</label>
                                <label><input type="checkbox" id="opcion2"> Opción 2</label>
                                <label><input type="checkbox" id="opcion3"> Opción 3</label>

                            </div>
                        </div>
                    </div>
                </div>







                <!-- envia costo de la reserva multiplicando la diferencia de dias por costo por noche -->
                <input type="hidden" id="resultadoCostoReserva" name="costoReserva" />

                <!-- envia costo de los servicios extra seleccionados (todavia no esta hecho)-->
                <input type="hidden" id="resultadoServiciosSeleccionados" name="costoServiciosSeleccionados" />

                <div class="formulario-item text-center">
                    <button type="submit" class="boton-reservar">Reservar</button>
                </div>
            </form>


        </div>
    </div>


    <div class="contenedor-comentarios">
        <h4>Comentarios de los huéspedes</h4>
        <div class="contenedor-comentarios-interno">
            <!--                 <div class="comentario" th:each="comentario : ${inmueble.comentarios}">
                <p th:text="${comentario}"></p>
            </div> -->
            <div class="comentario">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate excepturi fuga dolor
                    adipisci
                    accusantium cumque accusamus possimus commodi, similique deleniti aspernatur necessitatibus
                    eius
                    temporibus molestias at ratione nemo vitae recusandae dicta deserunt? Est magni alias
                    perferendis
                    ducimus pariatur tempora beatae laboriosam commodi libero officia, reprehenderit nulla quam
                    incidunt
                    ad
                    recusandae?
                </p>
            </div>
            <div class="comentario">
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid nesciunt ad ex laborum
                    aperiam
                    autem
                    esse corrupti voluptatem illo aut dolorum similique quas, pariatur quidem obcaecati
                    cupiditate
                    alias
                    inventore in?
                </p>
            </div>
            <div class="comentario">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique rerum vitae et mollitia
                    optio
                    accusantium veniam illum voluptates neque deleniti.
                </p>
            </div>
        </div>
    </div>


    <div class="contenedor-descripcion">
        <h4>Descripción</h4>
        <div class="contenedor-descripcion-interno">
            <!--                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, est autem. Alias magnam, aperiam
            vitae
            dolorum fuga, esse eum cum voluptas rem eos quos et eaque. Debitis distinctio facilis doloremque
            dignissimos id ducimus nostrum. Minus labore facilis sed hic debitis excepturi consequuntur quidem
            unde
            odio ducimus blanditiis culpa distinctio eius harum ipsum possimus quas, fugiat enim optio, modi
            nostrum
            voluptatem. Expedita quisquam laboriosam nesciunt pariatur! Impedit rem, voluptas quaerat explicabo
            veniam odio consequatur amet reiciendis porro. Quasi soluta consectetur quis doloribus amet beatae
            nam
            facilis. Delectus consequuntur quia in explicabo fugiat temporibus quo saepe. Fugiat explicabo odit
            officiis modi minus, laudantium numquam voluptates obcaecati molestiae eius nesciunt excepturi
            asperiores esse dignissimos porro tempore repellat suscipit illum natus perspiciatis dolor corporis
            nisi
            quod? At maxime temporibus culpa iure nesciunt enim facilis, tempore voluptatum quos, voluptatem
            quisquam in harum impedit, expedita aliquam perferendis! Inventore dignissimos enim doloremque fuga
            dolorum exercitationem tenetur laudantium -->
            <p th:text="${inmueble.descripcionDelInmueble}"></p>

            <p class="card-text"><strong>Precio por Noche:</strong><span th:text="${inmueble.precioPorNoche}"></span></p>
            <p class="card-text"><strong>Dirección:</strong> <span th:text="${inmueble.direccion}"></span></p>
            <p class="card-text"><strong>Otro Detalle:</strong> <span th:text="${inmueble.otrosDetallesDelInmueble}"></span></p>
            <p class="card-text"><strong>Provincia:</strong> <span th:text="${inmueble.provincia}"></span></p>

        </div>
    </div>






    <!-- ================================================================================= -->
    <!-- ========================    FOOTER   ======================================= -->
    <!-- ================================================================================= -->



</div>
<!-- por alguna razon si pongo el footer adentro del div contenedor de arriba se rompe un poco y se ve mas chiquito...-->
<footer th:replace="/fragments/footer :: footer"></footer>


<!-- ================================================================================= -->
<!-- ========================    Script   ======================================= -->
<!-- ================================================================================= -->

<script th:inline="javascript">
    function desplegarServicios() {
        event.preventDefault();
        var contenidoDesplegable = document.getElementById("contenidoDesplegable");
        if (contenidoDesplegable.style.display === "block") {
            contenidoDesplegable.style.display = "none";
        } else {
            contenidoDesplegable.style.display = "block";
        }
    }

    /*         function agregarServicio() {
                let servicioIncluido = document.getElementById()
                let listaServicios = document.getElementById("lista-servicios-incluidos");
                listaServicios.innerHTML += "<li>"
            } */

    /*         function calcularPrecioYEnviar() {
                let valorPorNoche = document.getElementById('valorRecibidoPrecioPorNoche').value;


                let fecha1 = document.getElementById("fechaFinReserva-id")
                let fecha2 = document.getElementById("fechaInicioReserva-id");


                let diferenciaMilisegundos = fecha1 - fecha2;

                let milisegundosEnUnDia = 1000 * 60 * 60 * 24;
                let diferenciaEnDias = diferenciaMilisegundos / milisegundosEnUnDia;

                document.getElementById('resultadoCostoReserva').value = diferenciaEnDias*valorPorNoche;

                document.querySelector('form').submit();
            } */

    function calcularPrecioSinServicios() {
        let valorPorNoche = document.getElementById('valorRecibidoPrecioPorNoche').value;
        /* let valorPorNoche = 500; */
        let fecha1 = new Date(document.getElementById("fechaFinReserva-id").value);
        let fecha2 = new Date(document.getElementById("fechaInicioReserva-id").value);


        let diferenciaMilisegundos = fecha1 - fecha2;

        let milisegundosEnUnDia = 1000 * 60 * 60 * 24;
        let diferenciaEnDias = diferenciaMilisegundos / milisegundosEnUnDia;


        let resultado = diferenciaEnDias * valorPorNoche;
        if (!isNaN(resultado)) {
            document.getElementById('resultadoCostoReserva').value = resultado;

            /* provisoriamente seteo los servicios seleccionados en 8 */
            document.getElementById('resultadoServiciosSeleccionados').value = 8;

            document.getElementById("costoReservaSinServiciosExtra").innerHTML = "<strong>Precio base: </strong>" + resultado + " $";
        } /* else {
            document.getElementById("costoReservaSinServiciosExtra").innerHTML = "Ingrese fecha de entrada y salida";
        } */
    }
</script>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>




</body>

</html>































































































